sudo: required

install:
  # get chef installer
  - wget https://www.opscode.com/chef/install.sh -O chef.sh
  # install chef
  - sudo bash chef.sh
  # get version
  - chef-solo -v

rvm:
  - 1.9.3

script:
  # run chef
  - sudo chef-solo -c config.rb -j config.json

after_success:
  # check build
  - php -v
  - nginx -v
  - npm -v