sudo: required

install:
  # get chef installer
  - wget https://www.opscode.com/chef/install.sh -O chef.sh
  # install chef
  - sudo bash chef.sh
  # get version
  - chef-solo -v
  # fix gpg --keyserver
  # - rm -rf ~/.gnupg
rvm:
  - 2.2.3
  - 1.9.3

script:
  # run chef
  - sudo chef-solo -c config.rb -j config.travis.json
  # check build
    - php -v
    - php -m | grep xdebug
    - php -m | grep redis
    - php -m | grep mysql
    - php -m | grep memcache
    - php -m | grep curl
    - php -m | grep xhprof
    - nginx -v
    - npm -v
    - redis-cli -v
    - redis-server -v
    - ruby -v
